header {
    background-color: rgb(15, 15, 15);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

header nav:nth-child(2) {
    margin-top: 2px;
}