header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
}

header nav {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.nav-left div {
    transition: .5s;

    &:hover {
        color: lightskyblue;
        cursor: pointer;
    }
}

.nav-right div svg {
    transition: .5s;

    &:hover {
        color: lightskyblue;
        cursor: pointer;
    }
}