.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
}

.hero {
    padding: 32px;
}

.hero h1 {
    font-size: 72px;
}

.hero p {
    font-size: 36px;
}

.hero p span {
    color: lightskyblue;
    font-style: italic;
}

.hero-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hero-img img {
    width: 160px;
}

.availability {
    background-color: rgb(20, 20, 20);
    width: 200px;
    padding: 16px;
    position: relative;
    margin: 16px;
    border-radius: 4px;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.availability::after,
.availability::before {
    border-radius: 4px;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 70%, rgb(0, 255, 0));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    animation: 3s spin linear infinite;
}

.availability::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}